<h2>Donut Chart - Pure D3</h2>

<span class="failed-label-2">Failed: {{input value=failedValue type="number" min="0"}}</span>
<span class="passed-label-2">Passed: {{input value=passedValue type="number" min="0"}}</span>

<div class={{componentClass}}></div>
